# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\social-app-mern\SocialMedia-Starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
